In [1]:
from selenium import webdriver
import pandas as pd

In [2]:
driver1=webdriver.Chrome()
driver1.get("https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW")

In [3]:
Movies=driver1.find_elements("xpath","//table/tbody/tr")

In [4]:
Movies_List=[]
for movie in Movies:
    if movie.get_attribute("style")!='display: none;':
        movie_data={}
        movie_data["Rank"]=movie.find_element("xpath",".//td[contains(@class, 'rank')]").text
        movie_data["Title"]=movie.find_element("xpath",".//td[contains(@class, 'title')]").text
        movie_data["Lifetime Gross"]=movie.find_element("xpath",".//td[contains(@class, 'money')]").text
        movie_data["Year"]=movie.find_element("xpath",".//td[contains(@class, 'year')]").text
        Movies_List.append(movie_data)

In [5]:
df = pd.DataFrame.from_dict(Movies_List) 
df

    Rank                                       Title  Lifetime Gross  Year
0      1                                      Avatar  $2,923,710,708  2009
1      2                           Avengers: Endgame  $2,799,439,100  2019
2      3                    Avatar: The Way of Water  $2,320,250,281  2022
3      4                                     Titanic  $2,264,812,968  1997
4      5  Star Wars: Episode VII - The Force Awakens  $2,071,310,218  2015
..   ...                                         ...             ...   ...
195  196                                     Tangled    $591,806,017  2010
196  197                           Quantum of Solace    $589,593,688  2008
197  198                                Men in Black    $589,390,539  1997
198  199                                  The Croods    $587,266,745  2013
199  200                        The Hangover Part II    $586,764,305  2011

[200 rows x 4 columns]

In [6]:
df.to_csv('Top Movies.csv', index=False)

In [7]:
driver1.quit()